---
const { lang } = Astro.props;
const otherLang = lang === 'uz' ? 'en' : 'uz';
---
<p class="padding: 10px">
    <a href={`/${otherLang}/`} class="text-blue-500">
    {otherLang.toUpperCase()}
    </a>
</p>

