backend:
  name: github
  repo: zafarhusanov/astro
  branch: main

media_folder: "public/images/uploads"
public_folder: "/images/uploads"

collections:
  - name: "pages"
    label: "Sahifalar"
    folder: "src/pages"
    create: true
    slug: "{{slug}}"
    extension: "md"
    format: "frontmatter"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Layout", name: "layout", widget: "hidden", default: "../../layouts/BaseLayout.astro" }
      - { label: "Body", name: "body", widget: "markdown" }
