---
const { title, lang, children } = Astro.props;
---
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta
    name="description"
    content="Mary's simple recipe for maple bacon donuts
            makes a sticky, sweet treat with just a hint
            of salt that you'll keep coming back for.">
    <title>{title}</title>
  </head>
  <body class="font-sans max-w-3xl mx-auto p-4">
    <slot name="header" />
    <main>
      <slot />
    </main>
  </body>
</html>
